* {
    padding: 0;
    margin: 10;
    font-family: 'Oswald', sans-serif;
}

h2{
  color: rgb(0, 82, 158);
}
body{
    background-color: gray;
}
.firstContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardContainer {
    margin: 100px;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(4, 1fr);
}

.card {
    outline: 1px solid black;
    border-radius: 5px;
    overflow: hidden;
}

.cardText {
    padding: 15px;
}

.card img {
    width: 100%;
}

@media (max-width: 300px) {
    .cardContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 300px) {
    .cardContainer {
        grid-template-columns: repeat(1, 1fr);
    }
}